<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<h1>个人所拥有的任务</h1>


	<table>
		    <tr>
		      <td>
		                          申请名称
		      </td>
		      <td>
                                                  开始时间
              </td>
              <td>
                                                  操作
              </td>
		    </tr>
		    
			<tr th:each="item,userStat : ${tasks}">
				<td th:text="${item.title}">
				</td>
				<td th:text="${item.requestDate}"></td>
				<td>
					<a th:href="'http://localhost:8080/vacation/perform/'+${item.taskId}">
					     办理任务
					</a>
				</td>
			</tr>
	</table>
</body>
</html>