<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
<h1>请假申请</h1>
<!-- 点击后启动请假申请流程 -->
<a href="http://localhost:8080/vacation/tasks/candidate" style="margin-right:20px;">查看待办任务</a>
<a href="http://localhost:8080/vacation/tasks/assignee" style="margin-right:20px;">查看受理任务</a>
<a href="http://localhost:8080/vacation/processins" style="margin-right:20px;">查看我的所有申请</a>
<a href="http://localhost:8080/vacation/start" style="margin-right:20px;">填写请假申请单</a>
<a href="http://localhost:8080/vacation/logout" style="margin-right:20px;">退出登陆</a>
</body>
</html>